<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.gravatar.size_small), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content_mic">
    <%= micropost.content %>
    <%= cl_image_tag micropost.picture.url, width: Settings.image_width if micropost.picture? %>
    </span>
  <span class="timestamp">
    <%= t("micropost.title_post", time: time_ago_in_words(micropost.created_at)) %>
    <% if current_user? micropost.user %>
      <%= link_to t("micropost.delete_link"), micropost, method: :delete,
        data: {confirm: t("users.confirm_delete")} %>
    <% end %>
  </span>
</li>
